<%= form_for([:inventory, @asset]) do |f| %>
    <% if @asset.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

          <ul>
            <% @asset.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :asset_tag, '*Asset tag' %>
      <%= f.text_field :asset_tag %>
    </div>
    <div class="field">
      <%= f.label :serial_number %>
      <%= f.text_field :serial_number %>
    </div>
    <div class="field">
      <%= f.label :model_id %>
      <%= f.collection_select :model_id, ModelType.all, :id, :name, :prompt => "Choose a model" %>
    </div>
    <div class="field">
      <%= f.label :purchase_date %>
      <%= f.date_select :purchase_date, :order =>[:day, :month, :year], :start_year => 2000, :end_year => Time.now.year %>
    </div>
    <div class="field">
      <%= f.label :purchase_cost %>
      <%= f.text_field :purchase_cost %>
    </div>
    <div class="">
      <label>Warranty</label>
      <div class="field_w">
        <%= f.select :warranty_length_year, 1..10, {:include_blank => true} %><%= f.label :warranty_length_year, "Year(s)" %>
        <%= f.select :warranty_length_month, 1..11, {:include_blank => true} %><%= f.label :warranty_length_month, "Month(s)" %>
      </div >
    </div>
    <div class="actions">
      <%= link_to 'Cancel', inventory_assets_path %>
      <%= f.submit %>
    </div>
<% end %>
