<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @subcategory.name %>
</p>

<p>
  <b>Category:</b>
  <%= @subcategory.category_id %>
</p>


<%= link_to 'Edit', edit_inventory_settings_subcategory_path(@subcategory) %> |
<%= link_to 'Back', inventory_settings_subcategories_path %>
