<%= form_for(@asset) do |f| %>
  <% if @asset.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@asset.errors.count, "error") %> prohibited this asset from being saved:</h2>

      <ul>
      <% @asset.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :asset_tag %><br />
    <%= f.text_field :asset_tag %>
  </div>
  <div class="field">
    <%= f.label :serial_number %><br />
    <%= f.text_field :serial_number %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.date_select :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :purchase_cost %><br />
    <%= f.text_field :purchase_cost %>
  </div>
  <div class="field">
    <%= f.label :warranty_length_year, "Year(s)" %><br />
    <%= f.select :warranty_length_year, 1..10 %>
  </div>
  <div class="field">
    <%= f.label :warranty_length_month, "Months(s)" %><br />
    <%= f.select :warranty_length_month, 1..11 %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
