<!DOCTYPE html>
<html>
<head>
  <title>Information Management System</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body>

<div id="container" class="container_12">

  <div id="header" class="grid_12">
    <div id="h_l" class="grid_6 alpha">
      <p>Information Management System</p>
    </div>

    <div id="h_2" class="grid_6 omega">
      <%= render 'shared/layouts/account' %>
    </div>
  </div>

  <div id="subheader" class="grid_12">
    <div id="sh_1" class="grid_6 alpha">
      <div>
        <%= render 'shared/layouts/subheader' %>
      </div>
    </div>
    <div id="sh_2" class="grid_6 omega">
    </div>
  </div>

  <div id="" class="grid_12 ">
    <div class="brd_boxes">
      <div class="brd_box">
        <div>
          <p>Breadcrumb navigation not implemented yet.</p>
        </div>
      </div>
    </div>
    <div class="c_boxes">
      <%= yield(:title) %>
    </div>
    <div class="c_boxes">
      <%= yield(:info) %>
    </div>
    <div class="b_boxes">
      <%= yield(:alert) %>
    </div>
  </div>

  <div id="content" class="grid_12 g_boxes">
    <div class="g_box">
      <%= yield %>
    </div>
  </div>

</div>
<div class="clearfix"></div>
<%= render 'shared/layouts/footer' %>

</body>
</html>
